---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Welcome to weekend.dev!</h1>

<p>weekend.dev has weekly content about software development. We have a newsletter and podcast (coming soon!)</p>
