<div class="newsletter">
<form
  action="https://buttondown.email/api/emails/embed-subscribe/weekenddev"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/weekenddev', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Subscribe to our newsletter by entering your email</label>
  <input type="email" name="email" id="bd-email">
  <input type="hidden" value="1" name="embed"></input>
  <input type="submit" value="Subscribe"></input>
</form>
</div>